venv/
__pycache__/
*.pyc
**/data/raw/
**/data/train/*/
**/data/test/*/
!**/data/train/.gitkeep
!**/data/test/.gitkeep
data/uploads/
data/uploads_log.csv
!data/train/.gitkeep
!data/test/.gitkeep
models/*.h5
!models/.gitkeep
!models/flower_model.h5
!models/metrics.json
.DS_Store
.ipynb_checkpoints/
retrain_test_upload/
retrain_test_upload.zip